@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/breakpoints/breakpoints' as *;
@use '../../../styles/mixins/mixins' as *;

.assignees {
  width: 100%;

  &__container {
    padding: rem(21px) rem(29px) rem(22px) rem(29px);
    border-bottom: 1.5px solid color.$color-border-light;
  }

  &__input {
    border: 1px solid color.$color-modal-area-background;
    border-radius: 14px;
    width: 100%;
    max-width: 353px;
    height: 49px;
    box-shadow: color.$color-modal-box-shadow;
    color: color.$color-gray;
    caret-color: color.$color-gray;
    padding-inline: rem(11px);
    padding-inline-start: rem(48px);

    &::placeholder {
      color: color.$color-gray;
    }
  }

  &__label {
    width: 100%;
    min-height: 102px;
    display: flex;
    flex-direction: column;
    gap: rem(7px);
    position: relative;
  }

  &__text {
    font-weight: 700;
    line-height: 171%;
    font-size: size.$font-size-14px;
    color: color.$color-gray;
  }

  .search__icon {
    position: absolute;
    top: rem(45px);
    left: rem(14px);
  }
}
