@use '../../../../styles/colors/colors' as color;
@use '../../../../styles/globals/globals' as size;
@use '../../../../styles/breakpoints/breakpoints' as *;
@use '../../../../styles/functions/functions' as *;
@use '../../../../styles/mixins/mixins' as *;


.eventModalForm {
  width: 100%;
  margin-block-start: rem(30px);
  display: flex;
  flex-direction: column;
  gap: rem(30px);


  & .nameInput {
    @include defaultInput;
    border: 1.5px solid color.$color-border;
  }

  & .nameLabel {
    display: flex;
    flex-flow: column nowrap;
    gap: rem(10px);
    @include labelTitle;
  }

  & .select {
    @include select;
  }

  & .selectContainer {
    @include selectContainer;
  }

  & .selectLabel {
    @include selectLabel;
  }

  & .optionsContainer {
    @include optionsContainer;
    z-index: 5;
  }

  & .option {
    @include option;
  }

  & .optionsPriorityContainer {
    top: rem(100px);
    z-index: 4;
  }

  & .descriptionArea {
    @include descriptionArea;
    padding: rem(11px) rem(18px);
    caret-color: color.$color-gray;
    color: color.$color-gray;

    &::placeholder {
      color: color.$color-gray;
    }
  }

  & .descriptionLabel {
    @include labelTitleGray;
    display: flex;
    flex-flow: column nowrap;
    gap: rem(10px);
  }

}