$font-size-8px: 0.6rem;
$font-size-9px: 0.7rem;
$font-size-10px: 0.8rem;
$font-size-12px: 0.75rem;
$font-size-13px: 0.8125rem;
$font-size-14px: 0.875rem;
$font-size-15px: 0.9375rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-20px: 1.25rem;
$font-size-22px: 1.375rem;
$font-size-24px: 1.5rem;
$font-size-26px: 1.625rem;
$font-size-28px: 1.75rem;
$font-size-30px: 1.875rem;
$font-size-32px: 2rem;
$font-size-34px: 2.125rem;
$font-size-36px: 2.25rem;
$font-size-38px: 2.375rem;
$font-size-40px: 2.5rem;
$font-size-42px: 2.625rem;
$font-size-44px: 2.75rem;
$font-size-46px: 2.875rem;
$font-size-48px: 3rem;
$font-size-50px: 3.125rem;
$font-size-52px: 3.25rem;
$font-size-54px: 3.375rem;
$font-size-56px: 3.5rem;
$font-size-58px: 3.625rem;
$font-size-60px: 3.75rem;
$font-size-62px: 3.875rem;
$font-size-64px: 4rem;
$font-size-66px: 4.125rem;
$font-size-68px: 4.25rem;
$font-size-70px: 4.375rem;
$font-size-72px: 4.5rem;
