@use '../../../styles/colors/colors' as color;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/functions/functions' as  *;


.signInSubmit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(25px);
  margin-block-start: rem(50px);

  & > .submitButton {
    @include addButton;
    max-width: rem(200px);
    height: rem(50px);
  }

  & > .submitLink {
    @include viewAllLink;
  }

}