@use '../../styles/mixins/mixins' as *;
@use '../../styles/breakpoints/breakpoints' as *;
@use '../../styles/functions/functions' as *;
@use '../../styles/colors/colors' as color;
@use '../../styles/globals/globals' as size;
@use '../../styles/keyframes/keyframes' as *;

.employees__nav {
  grid-column: span 12;
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-weight: 700;
    font-size: size.$font-size-36px;
    color: color.$color-black;
  }


  &-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: rem(340px);
    border-radius: rem(24px);
    background: color.$color-border;
    min-height: rem(50px);
    padding: rem(5px);

    & > .list__button {
      @include inactiveButton;
    }

    & > .activity__button {
      @include inactiveButton;
    }

    & > .active {
      font-weight: 700;
      color: color.$color-white;
      background: color.$color-support-background;
    }
  }

  & .add__employee-button {
    @include addButton;
  }
}
