@use '../../../styles/breakpoints/breakpoints' as *;
@use '../../../styles/functions/functions' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/fillers/fillers' as *;

.messengerChat {
  width: 100%;
  height: rem(830px);
  border-radius: rem(24px);
  background: color.$color-white;
  grid-column: span 12;

  & > .messengerContainer {
    width: 100%;
    display: flex;
    & > .chatMain {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(10px);
    }
  }
}
