@use '../colors/colors' as color;
@use '../functions/functions' as *;
@use '../breakpoints/breakpoints' as *;
@import '../fonts/fonts';
@import '../reset/reset';

body {
  font-family: 'Nunito Sans', sans-serif;
  background: color.$color-main-background;
  min-height: 100vh;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.globalWrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: rem(30px);
  padding: rem(20px) rem(20px) rem(25px) rem(20px);
  grid-column: span 12;
  min-height: 100vh;

  @media (max-width: rem(1230px)) {
    gap: 0;
  }

  @include respond-to(medium) {
    grid-template-columns: 1fr;
  }

}

.page {
  width: 100%;
  height: 100%;
  max-width: rem(1440px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(50px);
  padding-block-end: rem(0px);
}

.globalAuthWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  grid-column: span 12;
}

::-webkit-scrollbar {
  width: rem(5px);
  height: rem(5px);
}

::-webkit-scrollbar-track {
  background-color: color.$color-white;
}

::-webkit-scrollbar-thumb {
  background-color: color.$color-gray;
}
