@use '../colors/colors' as color;
@use '../functions/functions' as *;
@import '../fonts/fonts';
@import '../reset/reset';

body {
  display: grid;
  box-sizing: border-box;
  min-height: 100%;
  grid-template-columns: rem(220px) 1fr;
  gap: rem(30px);
  font-family: 'Nunito Sans';
  background: color.$color-main-background;
  padding: rem(20px) rem(20px) rem(25px) rem(20px);
}

.main {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  max-width: rem(1440px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: rem(50px);
}

::-webkit-scrollbar {
  width: rem(5px);
  height: rem(5px);
}

::-webkit-scrollbar-track {
  background-color: color.$color-white;
}

::-webkit-scrollbar-thumb {
  background-color: color.$color-gray;
}
