@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;
@use '../../../styles/globals/globals' as size;

.dashboard__info {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  &-block {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
  }

  &-greeting {
    font-size: size.$font-size-18px;
    color: color.$color-gray;
  }

  &-title {
    font-weight: 700;
    color: color.$color-black;
    font-size: size.$font-size-40px;
  }
}

.dashboard__calendar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: rem(600px);
  padding: 0 rem(16px) 0 rem(16px);
}

.calendar__date {
  max-width: rem(200px);
  height: rem(48px);
  border-radius: rem(14px);
  background: color.$color-light-gray;
}

.toggle-calendar-button {
  display: flex;
  align-items: center;
  gap: rem(11px);
  padding: rem(11px) rem(15px) rem(13px) rem(16px);
  height: rem(48px);
  border-radius: rem(14px);
  width: 100%;
  max-width: rem(280px);
  background: color.$color-light-gray;
  position: absolute;
  right: 0;
  z-index: 10;
  font-size: size.$font-size-16px;
  line-height: 150%;
  color: color.$color-black;
  transition: background 0.3s ease;
}
