@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/functions/functions' as *;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/colors/colors' as color;

.header {
  width: 100%;
  display: flex;
  position: relative;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30px);
  }

  &__search-label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: rem(11px);
    padding-inline: rem(19px);
    border-radius: rem(14px);
    max-width: rem(420px);
    height: rem(48px);
    background: color.$color-white;
    box-shadow: color.$color-box-shadow-background;
  }

  &__search-input {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: size.$font-size-16px;
    color: color.$color-gray;
  }

  .header__account {
    display: flex;
    align-items: center;
    gap: rem(15px);
  }

  &__notification-button {
    @include headerButton;
  }

  & .signInButton,
  .burgerButton {
    @include headerButton;
  }
}
