@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/functions/functions' as *;

.projectsNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: span 12;

  &Title {
    @include blockLargeTitle;
  }

  &Button {
    @include addButton;
  }

  &ButtonsBlock {
    width: rem(240px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: rem(24px);
  }

  & .notificationsButton {
    @include navButton;
  }
}
