@use '../../../styles/colors/colors' as color;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/functions/functions' as *;
@use '../../../styles/mixins/mixins' as *;

.event {
  width: 100%;
  height: rem(104px);
  position: relative;

  &__container {
    width: 100%;
    display: flex;
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    border-radius: rem(2px);
    width: rem(4px);
    height: rem(104px);
    background: color.$color-support-background;
  }

  &__variant-secondary::before {
    background: color.$color-variant-second;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline-start: rem(16px);
    height: rem(104px);
  }

  &__title {
    font-size: size.$font-size-16px;
    color: color.$color-black;
    font-weight: 700;
    line-height: 150%;
    max-width: rem(185px);
  }

  &__subInfo {
    font-size: size.$font-size-14px;
    color: color.$color-gray;
  }

  &__additionalInfo {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: rem(33px);
    width: 100%;
    max-width: rem(100px);
  }

  &__date {
    @include dateClock;
  }
}
