@use '../../styles/colors/colors' as color;
@use '../../styles/globals/globals' as size;
@use '../../styles/functions/functions' as *;

.nearest {
  width: 100%;
  width: rem(439px);
  height: rem(470px);
  background: color.$color-white;
  box-shadow: color.$color-box-shadow-background;
  border-radius: rem(24px);
}
