@use '../../../../../styles/colors/colors' as color;
@use '../../../../../styles/globals/globals' as size;
@use '../../../../../styles/functions/functions' as *;
@use '../../../../../styles/mixins/mixins' as *;
@use '../../../../../styles/breakpoints/breakpoints' as *;

.task__item {
  width: 100%;
  height: rem(91px);
  border-radius: rem(24px);
  background: color.$color-white;
  box-sizing: color.$color-box-shadow-background;
}

.task__title {
  width: 100%;
  max-width: rem(200px);
  display: flex;
  flex-direction: column;
  gap: rem(4px);
  font-size: size.$font-size-14px;
  color: color.$color-gray-second;

  > strong {
    color: color.$color-black;
    font-size: size.$font-size-16px;
    line-height: 150%;
  }
}

.task__itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(164px);
  padding: rem(22px) rem(31px) rem(23px) rem(30px);
}

.tasks__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(43px);
}

#task__priority {
  display: flex;
  align-items: center;
  flex-direction: row;
}
