@use '../../../styles/colors/colors' as color;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/functions/functions' as *;

.events {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}
