$color-white: #fff;
$color-gray: #7d8592;
$color-box-shadow-background: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
$color-main-background: #f4f9fd;
$color-support-background: #3f8cff;
$color-support-box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
$color-black: #0a1629;
$color-light-gray: #e6edf5;
$color-image-border: rgba(125, 133, 146, 0.2);
$color-variant-second: #de92eb;
$color-variant-third: #fdc748;
$color-variant-four: #6d5dd3;
$color-gray-second: #91929e;
$color-modal-background: rgba(33, 85, 163, 0.16);
$color-modal-box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
$color-modal-area-background: #d8e0f0;
$color-medium: #ffbd21;
$color-low: #0ac947;
$color-border-light: #e4e6e8;