$color-white: #fff;
$color-gray: #7d8592;
$color-box-shadow-background: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
$color-main-background: #f4f9fd;
$color-support-background: #3f8cff;
$color-support-box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
$color-black: #0a1629;
$color-light-gray: #e6edf5;
