@use '../../../../styles/colors/colors' as color;
@use '../../../../styles/globals/globals' as size;
@use '../../../../styles/functions/functions' as *;

.employee {
  width: 100%;
  max-width: rem(175px);

  @media (max-width: 1060px) {
    max-width: rem(225px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: rem(24px);
    max-width: rem(175px);
    height: rem(180px);
    background: color.$color-main-background;
    padding: rem(17px) 0 rem(18px) 0;

    @media (max-width: 1060px) {
      max-width: rem(225px);
    }
  }

  &__progressBorder {
    position: relative;
    width: rem(54px);
    height: rem(54px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: conic-gradient(
      from 425deg,
      color.$color-support-background calc(var(--employment) * 1%),
      color.$color-image-border calc(var(--employment) * 1%)
    );

    &::before {
      content: '';
      position: absolute;
      width: rem(50px);
      height: rem(50px);
      background-color: color.$color-image-border;
      border-radius: 50%;
    }
  }

  &__image {
    position: relative;
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end: rem(9px);
  }

  &__fullName {
    font-weight: 700;
    font-size: size.$font-size-16px;
    color: color.$color-black;
  }

  &__role {
    font-size: size.$font-size-14px;
    color: color.$color-black;
    line-height: 150%;
    text-align: center;
  }

  &__position {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 100%;
    border: 1px solid color.$color-gray;
    font-size: size.$font-size-12px;
    color: color.$color-gray;
    border-radius: rem(4px);
    width: rem(46px);
    height: rem(18px);
  }
}
