@use '../../styles/colors/colors' as color;
@use '../../styles/globals/globals' as size;
@use '../../styles/mixins/mixins' as *;
@use '../../styles/functions/functions' as  *;
@use '../../styles/breakpoints/breakpoints' as *;

.signInRemember {
  width: 100%;
  max-width: rem(440px);
  display: flex;
  justify-content: space-between;
  margin-block-start: rem(30px);

  @include respond-to(xsmall) {
    max-width: 75%;
  }

  & > .forgotButton {
    font-size: size.$font-size-18px;
    color: color.$color-gray;
    background: inherit;
  }

  & > .rememberLabel {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: rem(15px);
    @include labelTitle;
    font-size: size.$font-size-18px;
    font-weight: 400;
  }

}