@use '../../styles/colors/colors' as color;
@use '../../styles/globals/globals' as size;
@use '../../styles/mixins/mixins' as *;
@use '../../styles/functions/functions' as  *;


.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-right-radius: rem(24px);
  border-bottom-right-radius: rem(24px);
  background: color.$color-white;
  box-shadow: color.$color-box-shadow-background;

  &Title {
    @include blockTitle;
    font-size: size.$font-size-24px;
  }

  .signInFormInputs {
    margin-block-start: rem(33px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(30px);

    .signInFormInputsEmail,
    .signInFormInputsPassword {
      width: 100%;
      display: flex;
      justify-content: center;

      > .emailLabel,
      > .passwordLabel {
        width: 100%;
        max-width: rem(440px);
        display: flex;
        flex-direction: column;
        gap: rem(7px);
        @include labelTitle;
        position: relative;
      }
    }

    .emailInput,
    .passwordInput {
      width: 100%;
      background: color.$color-white;
      box-shadow: color.$color-modal-box-shadow;
      border: 1.5px solid color.$color-modal-area-background;
      border-radius: rem(14px);
      height: rem(58px);
      padding-inline-start: rem(18px);
      font-size: size.$font-size-18px;
      color: color.$color-gray;

      &::placeholder {
        font-size: size.$font-size-18px;
        color: color.$color-gray;
      }
    }

    & .viewPasswordIcon {
      width: 24px;
      height: 24px;
      position: absolute;
      right: rem(18px);
      top: rem(50px);
    }

  }
}
