@use '../../styles/functions/functions' as *;
@use '../../styles/breakpoints/breakpoints' as *;
@use '../../styles/colors/colors' as color;
@use '../../styles/globals/globals' as size;
@use '../../styles/mixins/mixins' as *;

.taskGroup {
  width: 100%;
  &__container {
    padding-block: rem(21px);
    padding-inline-start: rem(30px);
    border-bottom: 1.5px solid color.$color-border-light;
  }

  &__title {
    @include labelTitleGray;
  }

  &__checkboxes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(23px);
    margin-block-start: rem(18px);
  }

  &__input {
  }

  &__label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: rem(16px);
  }

  &__text {
    font-size: size.$font-size-16px;
    line-height: 150%;
    color: color.$color-black;
  }
}
