@use '../colors/colors' as color;
@use '../globals/globals' as size;
@use '../functions/functions' as *;

@mixin blockTitle {
  font-size: size.$font-size-22px;
  color: color.$color-black;
  font-weight: 700;
}

@mixin viewAllLink {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: size.$font-size-16px;
  color: color.$color-support-background;
}

@mixin blockLargeTitle {
  font-weight: 700;
  color: color.$color-black;
  font-size: size.$font-size-36px;
}

@mixin itemTitle {
  font-weight: 700;
  line-height: 150%;
  font-size: size.$font-size-16px;
  color: color.$color-black;
}

@mixin addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8px);
  font-weight: 700;
  width: 100%;
  max-width: (148px);
  height: rem(48px);
  border-radius: rem(14px);
  color: color.$color-white;
  font-size: size.$font-size-16px;
  background: color.$color-support-background;
  box-shadow: color.$color-support-box-shadow;
}

@mixin timeTitle {
  font-size: size.$font-size-14px;
  color: color.$color-gray-second;
}

@mixin dateClock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(3px);
  width: 100%;
  max-width: rem(63px);
  height: rem(36px);
  border-radius: rem(8px);
  background: color.$color-main-background;
  font-size: size.$font-size-12px;
  color: color.$color-gray;
  font-weight: 700;
  line-height: 133%;
}

@mixin labelTitle {
  font-weight: 700;
  color: color.$color-gray;
  font-size: size.$font-size-16px;
  line-height: 171%;
}

@mixin defaultContainer($height: height) {
  border: rem(1.5px) solid color.$color-modal-area-background;
  border-radius: rem(14px);
  width: 100%;
  padding: rem(11px) rem(18px) 0 rem(18px);
  height: $height;
  box-shadow: color.$color-modal-box-shadow;
}

@mixin blockContainer(
  $width: $width,
  $height: $height,
  $max-width: $max-width,
  $border-radius: $border-radius
) {
  width: $width;
  max-width: $max-width;
  height: $height;
  border-radius: $border-radius;
  box-shadow: color.$color-box-shadow-background;
  background: color.$color-white;
}

@mixin activityChildContainer(
  $padding: $padding,
  $margin-block-start: margin-block-start,
  $height: $height
) {
  margin-block-start: rem(22px);
  display: flex;
  gap: rem(16px);
  width: 100%;
  border-radius: rem(14px);
  max-width: rem(391px);
  height: $height;
  background: color.$color-main-background;
  padding: rem(15px) rem(10px) rem(15px) rem(20px);
}

@mixin activityChildIcon {
  width: 100%;
  max-width: rem(27.5px);
  max-height: rem(27.5px);
  object-fit: cover;
}

@mixin activityChildTitle {
  width: 100%;
  max-width: rem(221px);
  color: color.$color-black;
  font-size: size.$font-size-16px;
  line-height: 150%;
}

@mixin viewButton {
  margin-block-start: rem(22px);
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  gap: rem(1px);
  font-weight: 600;
  color: color.$color-support-background;
  font-size: size.$font-size-18px;
  text-align: center;
}
