@use '../colors/colors' as color;
@use '../globals/globals' as size;
@use '../functions/functions' as *;

@mixin blockTitle {
  font-size: size.$font-size-22px;
  color: color.$color-black;
  font-weight: 700;
}

@mixin viewAllLink {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: size.$font-size-16px;
  color: color.$color-support-background;
}
