@use '../../styles/colors/colors' as color;
@use '../../styles/globals/globals' as size;
@use '../../styles/functions/functions' as *;

.workload {
  width: 100%;
  max-width: rem(800px);
  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
    width: 100%;
    max-width: rem(800px);
    height: rem(470px);
    border-radius: rem(24px);
    background: color.$color-white;
    box-shadow: color.$color-box-shadow-background;
    padding: rem(28px) rem(18px) rem(16px) rem(18px);
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__header-title {
    font-weight: 700;
    font-size: size.$font-size-22px;
    color: color.$color-black;
  }

  &__header-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: size.$font-size-16px;
    color: color.$color-support-background;
  }
}
