@use '../../../styles/colors/colors' as color;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/functions/functions' as *;
@use '../../../styles/mixins/mixins' as *;


.infoPortalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: span 12;

  &Heading {
    @include blockLargeTitle;
  }

  &Button {
    @include addButton;
    font-size: size.$font-size-18px;
    max-width: rem(180px);
    min-height: rem(55px);
  }

}