@use '../../../styles/colors/colors' as color;
@use '../../../styles/globals/globals' as size;
@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/functions/functions' as  *;
@use '../../../styles/breakpoints/breakpoints' as *;

.signInRemember {
  width: 100%;
  max-width: rem(440px);
  display: flex;
  justify-content: space-between;
  margin-block-start: rem(30px);

  @include respond-to(xsmall) {
    max-width: 75%;
  }


  & > .forgotButton {
    font-size: size.$font-size-18px;
    color: color.$color-gray;
    background: inherit;

    @include respond-to(xxsmall) {
      font-size: size.$font-size-14px;
    }

  }

  & .checkboxRemember {
    @include checkboxInput(rem(22px), rem(22px));
    margin-inline-end: rem(14px);

    &:checked {
      background-color: color.$color-white;

      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 7px;
        height: 12px;
        border: solid color.$color-support-background;
        border-width: 0 2px 2px 0;
        display: block;
        border-radius: 0.5px;
      }
    }


  }

  & > .checkboxRememberLabel {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    @include labelTitle;
    font-size: size.$font-size-18px;
    font-weight: 400;

    @include respond-to(xxsmall) {
      font-size: size.$font-size-14px;
      gap: rem(7px);
    }

  }

}